[Unit]
Description=Bluetooth autoconnect service
Before=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/bluetooth-autoconnect -d -v

[Install]
WantedBy=bluetooth.service
